@model List<RakamYaniModel>
@{
    ViewData["Title"] = "RakamlarYaniIndex";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Table Start -->

<div class="container-fluid pt-4 px-4" style="height: 100vh;">
    <div class="row g-4">
        <div class="col-12 d-flex justify-content-center align-items-center" style="flex-direction: column; height: 100%;">

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">

                    <div class="col-12" style="">
                        <div class="bg-secondary rounded h-100 p-4">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h6 class="mb-0">RakamlarYani</h6>
                                <form asp-area="Admin" asp-controller="Dashboard" asp-action="CreateRakamlarYani" method="get">
                                    <button type="submit" class="btn btn-success" style="margin-right: 25px;">Create</button>
                                </form>

                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Resim</th>
                                                <th scope="col">Başlık</th>
                                                <th scope="col">Alt Başlık</th>
                                                <th scope="col">Içerik</th>
                                                <th scope="col">Kayıt Tarihi</th>
                                                <th scope="col">Güncelleme Tarihi</th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model)
                                        {
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td><img src="@item.ImagePath" alt="@item.ImageName" style="max-width: 100px; max-height: 100px;" /></td>
                                                    <td>@item.Baslik</td>
                                                    <td>@item.AltBaslik</td>
                                                    <td>@item.Icerik</td>
                                                    <td>@item.CreateDate</td>
                                                    <td>@item.UpdateDate</td>

                                                    <td>
                                                        <a class="btn btn-sm btn-primary" href="/Dashboard/UpdateRakamlarYani?Id=@item.RakamYaniId">Update</a>

                                                        <a class="btn btn-sm btn-danger" href="/Dashboard/DeleteRakamlarYani?Id=@item.RakamYaniId">Delete</a>

                                                    </td>
                                                </tr>

                                            </tbody>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5">Veri bulunamadı.</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
